/* Button Styles */

button {
    background-color: #2b2b2b;
    color: #fff;
    height: 3rem;
    width: 3rem;
    border: none;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

/* Button Hover and Active for click effects */

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}
